/* NavBar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 10px -5px rgba(0 0 0 / 50%);
  height: 70px;
  padding: 0 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0f6fe;
  padding: 8px 16px;
  border-radius: 16px;
}

.notifications {
  margin-left: 24px;
  font-size: 24px;
  color: #2f80ed;
  position: relative;
}
.notification {
  position: absolute;
  top: 18px;
  left: 13px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: red;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-photo img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header p {
  margin: 0;
  font-size: 18px;
  margin-right: 8px;
}
.header p span {
  color: #2f80ed;
  font-weight: 500;
  padding-right: 4px;
}
.ant-layout-sider-trigger {
  background: #2f80ed !important;
}

/* main || container */
#root {
  overflow: hidden;
  min-height: 100%;
}

/* lists */
.ant-tooltip-inner {
  background: #fff !important;
  color: #2f80ed !important;
}
section.ant-layout.ant-layout-has-sider.ant-layout-rtl {
  height: 100%;
  background: #f0f8ff !important;
}
/* container */
main#container {
  padding: 68px 40px;
  min-height: 100%;
}
h1.ant-typography.ant-typography-rtl {
  font-size: 24px;
  color: #2f80ed;
}

main#container
  .ant-col.ant-col-xs-32.ant-col-xs-offset-0.ant-col-rtl.ant-col-md-16.ant-col-md-offset-0.ant-col-lg-8.ant-col-lg-offset-0 {
  margin-bottom: 24px;
  border: 2px dashed #2f80ed;
  border-radius: 8px;
}
main#container .ant-card-body {
  padding: 16px 24px;
}
main#container .ant-card.ant-card-bordered.ant-card-rtl {
  border-radius: 8px;
  margin: 8px;
}
main#container .ant-card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main#container .ant-card-body:after,
.ant-card-body:before {
  display: none !important;
}

#site-card-wrapper span.anticon {
  font-size: 32px;
}
#site-card-wrapper .anticon-pie-chart,
.ant-statistic-title {
  color: #2f80ed !important;
}
#site-card-wrapper .anticon-radar-chart {
  color: #f0a0a0 !important;
}
#site-card-wrapper .anticon-dot-chart {
  color: #219653 !important;
}
#site-card-wrapper .anticon-line-chart {
  color: #ffb849 !important;
}
#site-card-wrapper .anticon-bar-chart {
  color: #9181db !important;
}
#site-card-wrapper .anticon-area-chart {
  color: #e4d75c !important;
}
#chartCard {
  margin-bottom: 100px !important;
}
/* Services */
.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* tables */
.ant-spin-nested-loading {
  position: relative;
  top: 0;
  margin-bottom: 115px;
}
.ant-table table {
  text-align: right !important;
}
.ant-table-thead > tr > th {
  text-align: right !important;
}

/* add services */
form.ant-form.ant-form-vertical.ant-form-rtl {
  margin-bottom: 100px;
}

#add-service .ant-form-item-control-input-content,
#edit-service .ant-form-item-control-input-content {
  max-width: 60% !important;
}

#add-service .ant-row.ant-row-rtl,
#container .ant-row.ant-row-rtl {
  justify-content: space-between !important;
}
/* footer */
.ant-layout-footer {
  background: #fff !important;
  height: 48px;
  font-size: 18px !important;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 15px;
  padding: 16px 0px !important;
  box-shadow: 0 0 10px -5px rgba(0 0 0 / 50%);
}
